Django==6.1.0
djangorestframework==3.18.0
psycopg[binary]==3.3.5
django-allauth==65.19.2
dj-rest-auth==7.2.0
requests==2.34.2
drf-spectacular==0.30.0
django-cors-headers==4.9.0
google-api-python-client==2.200.0
google-auth==2.57.0